### Introduction to Jupyter
- Ensure Python and Jupyter Installed
- Launch Jupyter with Cmd or Terminal (MacOS)
- Basics
    - Create folder and notebook file
    - Save file
    - Two types of cell: Code and Markdown
    - Run code using short cut
    - Restart Kernel
    - Add and remove cell (Esc to cell editing mode, A/B, DD)

## Variables and Objects

#### Create News Headline
e.g. 2024-10-08: FTSE (-1.08%)

### f string
- String strats with "f"
- Use "{}" as placeholder for Python expressions

### Ex1 - Create a news headline as the following:
2024-10-26: UK Inflation increased 0.07% to 3.09% in Augest

In [1]:
from datetime import date, datetime

In [2]:
dt = date.today()

cpi_2407 = 132.9
cpi_2408 = 133.4

cpi_2307 = 129
cpi_2308 = 129.4

### Extract Data from String
- Calculate the EBITDA growth from 2023 to 2024 for INVIDIA
- Extract the date of the fiscal year end for 2024

In [ ]:
data_str1 = 'NVIDIA, Year=2024-01-31, EBITDA=34,075,000'
data_str2 = 'NVIDIA, Year=2023-01-31, EBITDA=4,443,000'

### Ex2 - Extract the information and calculate the last closing price of S&P500
S&P 500 hits new all-time high 5,751 up by 0.9%

In [3]:
news = 'S&P 500 hits new all-time high 5,751 up by 0.9%'

## Data Structure

### List Represents Data Table

### List Represents Data Series

### Access List

### Common Functions for List

### Modify List

### Calculate Average Price for Last 3 Days

### Ex3 - Find the Date for the Highest High and Lowest Low

In [4]:
date_list = [date(2024, 10, 1), date(2024, 10, 2), date(2024, 10, 3)]
open_list = [100, 101, 102]
high_list = [103, 104, 105]
low_list = [97, 98, 99]
close_list = [101, 102, 103]

### Dict Groups Information

### Dict Represents a Table
|Date|Open|High|Low|Close|
|-|-|-|-|-|
|2024-10-01|100|103|97|101|
|2024-10-02|101|104|98|102|

### Dict as Map

### Access Dict

### Modify Dict

### Ex4 - Calculate the Average Close for IBM and Vodafone

In [5]:
company_bars_dict = {
    'IBM': {
        'Date': [date(2024, 10, 1), date(2024, 10, 2), date(2024, 10, 3)],
        'Open': [100, 101, 102],
        'High': [103, 104, 105],
        'Low': [97, 98, 99],
        'Close': [101, 102, 103],
    },

    'VOD': {
        'Date': [date(2024, 10, 1), date(2024, 10, 2), date(2024, 10, 3)],
        'Open': [1.0, 1.1, 1.2],
        'High': [1.3, 1.4, 1.5],
        'Low': [0.7, 0.8, 0.9],
        'Close': [1.1, 1.2, 1.3],
    }
}